 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Trusst is an architecture design firm and educational space, where members get world-class training, access to cutting edge facilities, and real-world experience. Trusst’s work is focused around philanthropic and humanitarian projects that help beautify and support the surrounding community.</p>
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Mission</h3>

                    <p>A truss is an architectural structure that is typically used to support a roof or bridge. At Trusst, we strive to support our members, partners, and community by creating beautiful spaces.</p>
                </div>

                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Goals</h3>

                    <ul>
                    <li><p>Help people achieve their goals</p></li>
                    <li><p>Make beautiful spaces</p></li>
                    <li><p>Help local communities thrive</p></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h3>Team</h3>
                    <p>Maria S., CEO</p>
                </div>
            </div>
        </div>
    </section>