 <!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Education</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Trusst’s educational wing is modelled after the nation’s leading educational research facilities, matching comprehensive, focused learning with real-world applications. Under the guidance of our experienced instructors, our members look at our clients’ requests as learning and research opportunities.</p>
                </div>

                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Memberships</h3>

                    <note>Memberships are paid if you come for sessions. Once you purchase your card, you come and you will not need to pay on the spot. If you take classes like photography or design, you may need to pay an extra fee for needed supplies.</note>

                    <h4>Silver</h4>
                    <ul>
                        <li>$75</li>
                        <li>1-2 day classes a week recommended</li>
                    </ul>

                    <h4>Gold</h4>
                    <ul>
                        <li>$200</li>
                        <li>2-3 days a week recommended</li>
                    </ul>

                    <h4>Platinum</h4>
                    <ul>
                        <li>$300</li>
                        <li>3-5 days recommended </li>
                    </ul>

                </div>

                <div class="col-lg-4">
                    <h3>Classes</h3>

                    <note>Taught by our own staff, classes are taught at all levels. Top level classes interface directly with clients’ commissioned work.</note>

                    <ul>
                        <li>photography
                            <ul>
                                <li>working with film</li>
                                <li>digital photography</li>
                                <li>photography equipment</li>
                            </ul>
                        </li>

                        <li>writing
                            <ul>
                                <li>creative writing for architecture</li>
                                <li>grant writing</li>
                                <li>technical writing</li>
                            </ul>
                        </li>

                        <li>design
                            <ul>
                                <li>applied math</li>
                                <li>architecture software and tools</li>
                                <li>interior design</li>
                            </ul>
                        </li>

                        <li>art
                            <ul>
                                <li>building models</li>
                                <li>materials</li>
                                <li>construction basics</li>
                            </ul>
                        </li>

                        <li>history and context</li>

                        <li>project management</li>
                    </ul>
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Facilities</h3>

                    <p>At Trusst, members work with powerful tools in state-of-the art facilities. Whether taking a class or simply using the 3D printer, members have all the tools they need to create incredible spaces.</p>

                    <ul>
                        <li>Learning Center</li>
                        <li>Drafting Studio</li>
                        <li>Industrial Design Studio</li>
                        <li>Photography Studio</li>
                        <li>Production Studio - sound design &amp; video editing</li>
                    </ul>

                </div>






            </div>
        </div>
    </section>